$td-color: grey;

body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

table tr td {
  width: 25px;
  height: 25px;
  background-color: $td-color;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  border: 1px solid black;
  cursor: default;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
